<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy for Alexa Skill</title>
</head>
<body>
This privacy policy describes how Multimatic Connect (“Multimatic Connect”, “us” or “we”) protects your (“you”, “the user”) privacy and your data.
Before using the Alexa Skill (“our skill”), please read this policy and our Alexa Skill Terms of Use, as well as the Alexa Terms of Use and the Privacy Policies by the Amazon Digital Services LLC (with its affiliates, “Amazon”).

Regarding Amazon, “Alexa” means their Alexa Voice Service which includes third party services (like our skills) and other related Software.

If you use one of our skills you fully agree to this privacy policy.

<h1>General</h1>

When you use our skill you have to talk to Alexa.
This voice input is sent to Amazon and us where we use it to understand what our skill should do for you.
This is absolutely necessary for our service to give you an appropriate answer.

<h1>Data</h1>

We never collect or share personal data with our skill.

To improve our services we analyse automatically how often utterances are spoken and other analytics.
This is done automatically by Amazon in the Amazon

It is necessary for our skill to save data for you in our database.
This data is only connected to your Alexa-User Id but never to your name or any other personal information.
The data collected consists of your encrypted multiMATIC credentials, used to authenticate our skill to the Vaillant api.

<h2>Information We Collect from Other Sources</h2>

With your authorization, we also obtain information about you from other sources when you link your account to Facebook or Google: your email, name, nickname, locale and avatar as well as some login statistics.
This information is stored in the Auth0 database for our Skill but is never shared with our skill.

<h1>Changes</h1>

Our skill or parts of it may change or be updated at any time.
Further, this Privacy Policy might change.
You can find a link to this policy on the description page of the skill in the Alexa App or in the Alexa Store.
Your continued use of our skill after changes of the Privacy Policy or the skill itself will be seen as your acceptance of both.
</body>
</html>
